<h1>Display your Pirate here</h1>
<p>Name: <%= @the_pirate.name %></p>
<p>Height: <%= @the_pirate.height %></p>
<p>Weight: <%= @the_pirate.weight %></p>

<h2>Display your first ship here</h2>
<p>Ship Name: <%= @one_ship.name %></p>
<p>Ship Type: <%= @one_ship.type %></p>
<p>Ship Booty: <%= @one_ship.booty %></p>

<h2>Display your second ship here</h2>
<p>Ship Name: <%= @two_ship.name %></p>
<p>Ship Type: <%= @two_ship.type %></p>
<p>Ship Booty: <%= @two_ship.booty %></p>
